* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: gold;
  width: 100%;
}

.navbar .content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.navbar .content .center input {
  padding: 10px;
  width: 500px;
  border: none;
}

.navbar .content .left-section p {
  margin-left: 10px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.right-section {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.slider {
  width: 70%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slider img {
  width: 100%;
  display: block;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.slider .prev {
  left: 10px;
}

.slider .next {
  right: 10px;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  flex-wrap: wrap;
}

.category {
  text-align: center;
  cursor: pointer;
}

.category img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: transform 0.3s ease, border 0.3s ease;
}

.category p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.category img:hover {
  transform: scale(1.1);
  border: 2px solid gold;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 80%;
  margin: 50px auto;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  margin: 15px 0 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.price {
  color: #27ae60;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-card button {
  background: gold;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.product-card button:hover {
  background: #f1c40f;
}
